/*main body style*/
body {
    font-family: 'Roboto', serif;
    font-size: 18px;
    background-color: #f4c8ed;
}

/*navigation bar style*/
.navbar {
    background-color: #efbbf7;
    position: sticky;
    top: 0;
    z-index: 1000;
    
}

.navbar-brand, .nav-link {
    color: rgb(56, 61, 137) ;
}

/*sidebar,card style*/
.sidebar .card{
    background-color: #ddf5f6 !important;
    color: #9d0891;
    padding: 20px;
    height: 100vh;
    transition: transform 0.6s ease-in-out;
}

/*mobile device style*/
@media (max-width: 768px) 
{
    .sidebar 
    {
        transform: translateX(-100%);
        position: fixed;
        width: 300px;
    }
}

/*sidebar image style*/
.profile-img 
{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 8px solid rgb(148, 230, 195) !important;
    transition: transform 0.3s ease-in-out;
}

/*image alignment style*/
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*mimage style*/
.profile-img:hover {
    transform: scale(1.2) rotate(360deg);
}

/*project style*/
.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.2);
    box-shadow: 18px 18px 18px rgba(78, 146, 180, 0.2);
}





